@page
@model WebMail.Pages.MailModel
@{
}
<div class="container border border-muted w-100">
    <div class="row header">
        <div class="col">
            <span class="d-block">
                @Model.Head[0]
            </span>
            <span class="from">
                @Model.Head[1]
            </span>
        </div>
        <div class="col text-center">
            <span>
                @Model.Head[2]
            </span>
        </div>
        <div class="col text-right">
            <span>
                @Model.Head[3]
            </span>
        </div>
    </div>
</div>
<div class="container border border-muted overflow-auto MailContainer">
    @Model.GetHtml()
</div>
